<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SmokeTests" thread-count="3" parallel="methods">
  <test thread-count="3" name="Test">
 <!--  <groups>
 <run>
  <include name="Flow2"></include>
   <include name="Flow1"></include>
  </run>
  </groups>-->
    <classes>
     
      <class name="Tests.LoginTests"/>
      <class name="Tests.PostsTests"/>
      
      </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
